/* Basic Reset */
@import "dynamic_override.css";
* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
     background: rgba(20, 20, 20, 0);
}
#workspaces button {
    padding: 0 1px;
    background: transparent;
    color: #ffffff;
    border-radius: 0;
}

#workspaces button.active {
  color: rgb(222, 215, 255);
    background: transparent;
    border-bottom: 2px solid rgba(174, 162, 230, 0.65); 
}

#workspaces,#clock{
    background: transparent;
    padding: 0px 25px;

}
#clock{
    padding: 0px 10px;

}

#custom-cava {
    font-family: "JetBrains Mono", "Noto Sans Mono", monospace;
    background: transparent;
margin-right: 12px; 
}


#system 
{
    padding-right: 10px;
    background: rgba(20, 20, 20, 0.6);
    margin: 0px 2px;
    border-radius: 12px;
}
#system #cpu,
#system #memory,
#system #pulseaudio,
#system #custom-bluetooth,
#system #custom-power {
    background: transparent;
    padding: 0 6px;

}

#memory:hover,
#cpu:hover,
#custom-power:hover,
#custom-bluetooth:hover,
#pulseaudio:hover {
  text-shadow:
    1px 1px 2px #000,
   -1px 1px 2px #000,
    1px -1px 2px #000,
   -1px -1px 2px #000;
}

#battery:hover{
  color : rgb(9, 209, 30);
}
#cpu:hover{
  color : rgb(9, 209, 30);
}

#memory:hover{
  color : rgb(0, 92, 255);
}

#custom-temp:hover{
  color : rgb(235, 55, 55);
}
#custom-power:hover{
  color : rgb(235, 55, 55);
}
#custom-bluetooth:hover {
  color :rgb(0, 92, 255)
}

#network:hover {
  color :rgb(0, 92, 255)
}
#pulseaudio:hover {
    color: rgb(174, 162, 230);
}
#power-profiles-daemon:hover {
    color: rgb(174, 162, 230);
}

#info {
    padding: 0px 10px;
    margin: 0px 2px;
    border-radius: 12px;
    background: rgba(20, 20, 20, 0.6);
 box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4); 
min-width: 330px;
}
#group-system {
min-width: 330px;
    padding-right: 10px;
    background: rgba(20, 20, 20, 0.6);
    margin: 0px 2px;
    border-radius: 12px;

}

#custom-drawer-toggle:hover {
    color: rgb(174, 162, 230);
}
#group-drawer {
    transition: all 0.2s ease;
    padding: 0px 6px;
    background: transparent;
}
#group-drawer #network,
#group-drawer #custom-temp,
#group-drawer #backlight,
#group-drawer #power-profiles-daemon {
    background: transparent;
    padding: 0 6px;
}

/* --- Dynamic Padding Adjustments --- */
/* When 1 workspace exists, we need a large padding to push it to the center */
#custom-dynamic-pad.count-1 + #workspaces {
    padding-left: 45px;
}

/* When a 2nd workspace is created, we reduce the padding slightly to keep the cluster centered */
#custom-dynamic-pad.count-2 + #workspaces {
    padding-left: 33px;
}

/* When 3 workspaces exist, reduce it further */
#custom-dynamic-pad.count-3 + #workspaces {
    padding-left: 21px;
}

/* When 4 workspaces exist, they occupy the remaining room naturally */
#custom-dynamic-pad.count-4 + #workspaces {
    padding-left: 9px;
}
